<a href="https://colab.research.google.com/github/carmc99/Introduction-to-IA-course/blob/intro%2Fpython/01_BASIC_STRUCTURES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task 1: Palindrome
Determine whether an integer number  n  is a palindrome, this is, if it is the same number when read left to right and when read right to left. Return True if so, otherwise return False.

In [39]:
def palindromo(n): # assume n is an integer
    n = str(n) # convert number to str
    if(n[::-1] == n): # slice the string
      return True
    return False

In [40]:
print (palindromo(12321))
print (palindromo(12322))

True
False

Task 2: Money Change
En este ejercicio, su programa recibirá un monto entre 1 y 99 centavos de Dolar, Escriba un metodo que retorne en una lista, cuantas monedas son necesarias para devolverle a alguien dicho valor, si únicamente se cuenta con monedas de 1, 10 y 25 centavos. La lista debe entregarse de la siguiente manera:

In this task your function will receive an amount between 1 and 99 cents and will have to return a list with three numbers [ n1 ,  n10 ,  n25 ], specifying how many coins of 1, 10 and 25 cents are required to obtain the given amonut. We only have coints of 1, 10 and 25 cents. There are no other kinds of coins.

If the amount given is less than 1 or more than 99 you must return None.

In [50]:
def change_money(n):
    r=[0,0,0] #recall: r[0]== n_1, r[1]== n_10 y r[2]== n_25 
    if n>99 or n<1: return None
    while n > 0:
      if(n // 25 > 0):
        n -= 25
        r[2] += 1
      elif(n // 10 > 0):
        n-=10
        r[1] += 1
      else:
        n-=1
        r[0] += 1
        
    return r

In [51]:
print(change_money(n=55))
print(change_money(n=200))
print(change_money(n=47))

[5, 0, 2]
None
[2, 2, 1]

## Task 3: Fibonacci

Complete the function below so that given an integer $n$ it computes the $n^{th}$ term of the Fibonacci series:

$$ f_n = f_{n-1}+f_{n-2}$$ 

Where $$f_0=0 \:\:\text{ y }\:\:f_1=1 $$ so that: $$f_2=1+0=1$$ $$f_3=1+1=2$$ $$f_4=2+1=3$$ and so on

### Execution example 
```python

>>> fibonacci(10)
55

>>> fibonacci(36)
14930352
```

In [57]:
def fibonacci(n):
    f0=0
    f1=1
    suma=0
    i = 0
    while i < n:
      suma = f0 + f1
      f1 = f0
      f0 = suma
      i += 1
    return suma

In [58]:
fibonacci(10), fibonacci(36)

(55, 14930352)